# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenvs
.venv/
venv/

# Tooling/cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Packaging
*.egg-info/
build/
dist/

# OS/editor
.DS_Store
.vscode/
.idea/
